<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="overdose" translate="label" sortOrder="15">
            <label>Overdose 123</label>
        </tab>
        <section id="overdose_stuff" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Overdose Digital</label>
            <tab>overdose</tab>
            <resource>Overdose_AdminPanel::overdose</resource>
            <group id="some_config" translate="label" type="text" sortOrder="10" showInWebsite="1" showInStore="0" showInDefault="1">
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="username" translate="label" type="text" sortOrder="2" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Give us your name</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
